body{
    background: #25383C;
}

#gamearea {
    width: 600px;
    height: 600px;
    border: 2px lightslategray solid;
    margin: 0 auto;
    position: relative;
    background-image: url('background.png');
}

.enemy {
    position: absolute;
}

#defender {
    position: absolute;
}

#score_tab {
    color: mintcream;
    position: relative;
    left: 500px;
    top: 20px;
}

.ana {
    text-align: center;
    margin: 100px auto;
    font-family: "League-Gothic", Courier;
    font-size: 20px; text-transform: uppercase;
    color: rgba(0,168,255,0.5);
    text-shadow: 2px 2px 0 rgba(255,0,180,0.5);
}

ul, li{
    text-align: center;
    margin: 30px auto;
    font-family: "League-Gothic", Courier;
    font-size: 20px;
    color: #C14A8E;
}

div.control{
    text-align: center;
    font-weight: bold;
    background-color: #3D2639;
    width: 170px;
    border: 3px solid deepskyblue;
    padding: 20px;
    margin: 20px;
    position: absolute;
    top: 0;
    left:10%;
}

.bd {
    font-family: "League-Gothic", Courier;
    font-size: 40px; text-transform: uppercase;
    color: #ffd217;
    text-shadow: 2px 2px 0 #5ac7ff;
}

h1.bd{
    font-size: 40px;
    text-align: center;
}
